/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
#container {
  max-width: 100%;
}
#container p {
  color: #0e3c92;
  font-size: 3rem;
  line-height: 2;
}
html {
  font-size: 62.5%;
}
h1 {
  color: #C12E29;
  font-size: 12rem;
  text-align: center;
}
h2 {
  color: #81B3B2;
  font-size: 7.5rem;
  margin-bottom: 5%;
  margin-top: 3%;
}
h3 {
  font-size: 5rem;
  color: #81B325;
}
button {
  width: 50%;
  background-color: #D4AEA8;
  color: #8CA744;
  font-size: 2rem;
  border-radius: 50%;
  height: 60px;
}
button:hover {
  background-color: #4d004d;
  color: #D4AEA8;
}
nav {
  width: 80%;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  height: 60px;
  text-align: center;
  padding: 3%;
}
nav a {
  margin-left: 7%;
  margin-right: 7%;
}
.team-nav {
  border: 2px solid green;
  width: 100%;
  background-color: #ebeaea;
}
.head {
  width: 100%;
  background-color: #ebeaea;
  position: fixed;
  display: block;
}
.head .logo {
  border-radius: 30%;
  float: right;
  width: 8%;
  margin-right: 5%;
}
.banner-img {
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin-top: 5%;
}
.intro {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
}
.intro .intro-text {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 3%;
}
.intro .intro-img {
  border-radius: 20%;
  width: 50%;
  margin: 0 auto;
}
.video {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 5%;
}
.body {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
}
.body .body-img {
  border-radius: 20%;
  width: 50%;
  margin: 0 auto;
}
.body .body-text {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  padding: 3%;
}
.bottom-img {
  width: 90%;
  height: 50vh;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 3%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 90%;
  margin: 5%;
}
footer .help {
  width: 80%;
  font-size: 2rem;
  text-align: center;
}
footer .team-link {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  width: 50%;
  padding: 5%;
  font-size: 3rem;
  text-align: center;
}
footer ul {
  line-height: 2;
}
body {
  border: 2px solid black;
  background-image: url("https://unsplash.com/photos/r6PVGAhQeW0");
}
.header {
  display: inline-block;
  text-align: center;
  margin: 2%;
}
.jasmine {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.jasmine .jasmine-content {
  border: 2px dashed #D7DDE1;
  width: 90%;
  margin: 5%;
  text-align: center;
}
.jasmine .jasmine-content h2 {
  margin: 5%;
}
.jasmine .jasmine-content p {
  color: #C12E29;
  font-size: 4rem;
}
.jasmine .jasmine-content button {
  border: 2px solid black;
}
.jasmine .jasmine-img {
  width: 50%;
  border-radius: 50%;
}
.bao {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.bao .bao-content {
  border: 2px dashed #D7DDE1;
  width: 90%;
  margin: 5%;
  text-align: center;
}
.bao .bao-content h2 {
  margin: 5%;
}
.bao .bao-content p {
  color: #C12E29;
  font-size: 4rem;
}
.bao .bao-content button {
  border: 2px solid black;
}
.bao .bao-content .bao-img {
  border-radius: 50%;
  width: 45%;
}
.heather {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.heather .heather-content {
  border: 2px dashed #D7DDE1;
  width: 90%;
  margin: 5%;
  text-align: center;
}
.heather .heather-content h2 {
  margin: 5%;
}
.heather .heather-content p {
  color: #C12E29;
  font-size: 4rem;
}
.heather .heather-content button {
  border: 2px solid black;
}
.heather .heather-content .heather-img {
  border-radius: 50%;
  width: 45%;
}
.kerri-ann {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.kerri-ann .kerri-ann-content {
  border: 2px dashed #D7DDE1;
  width: 90%;
  margin: 5%;
  text-align: center;
}
.kerri-ann .kerri-ann-content h2 {
  margin: 5%;
}
.kerri-ann .kerri-ann-content p {
  color: #C12E29;
  font-size: 4rem;
}
.kerri-ann .kerri-ann-content button {
  border: 2px solid black;
}
.kerri-ann .kerri-ann-content .kerri-ann-img {
  width: 48%;
}
.brian {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.brian .brian-content {
  border: 2px dashed #D7DDE1;
  width: 90%;
  margin: 5%;
  text-align: center;
}
.brian .brian-content h2 {
  margin: 5%;
}
.brian .brian-content p {
  color: #C12E29;
  font-size: 4rem;
}
.brian .brian-content button {
  border: 2px solid black;
}
.brian .brian-content .brian-img {
  border-radius: 50%;
  width: 45%;
}
.team-foot {
  width: 100%;
}
.team-content h2 {
  margin: 5%;
}
.team-content p {
  color: #C12E29;
  font-size: 4rem;
}
.team-content button {
  border: 2px solid black;
}
