* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    max-width:100%;
  }
  

    
    p{

        

        @media @mobile{
            line-height: normal;
            font-size: 2rem;
    } //p mobile query end}
  }

  html{
      font-size: 62.5%;
    
  }

  h1{
      color: #C12E29;
      font-size: 12rem;
      text-align: center;
      font-family: 'Sedgwick Ave', cursive;

      @media @mobile{
          font-size: 8rem;
      }//h1 mobile end

  } //h1 end

  h2{
      color: @titles-color;
      font-size:@titles-size;
      font-family: @titles-font;
      margin-bottom:5%;
      margin-top:3%;
      text-align: center;

      @media @mobile{
        font-size: 5rem;

    }//h2 mobile end
  }//h2 end

  h3{
      font-size: 5rem;
      color: @team-main;
      text-align: center;

      @media @mobile{
          font-size: 3rem;
      }//h3 mobile end
  }//h3 end
  

h4{
    font-size: 3rem;
    font-family: 'Kavivanar', cursive;
    color: @titles-color;
      font-size:@titles-size;

      @media @mobile{
        font-size: 4rem;
    }//h4 mobile end
}
  



