* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    max-width:100%;
  }
  
  #container {
    max-width: 100%;
    
    

  }

  html{
      font-size: 62.5%;
    
  }

  h1{
      color: #C12E29;
      font-size: 12rem;
      text-align: center;

  }

  h2{
      color: @titles-color;
      font-size:@titles-size;
      border:2px solid black;
      margin-bottom:5%;
      margin-top:3%;
  }

  h3{
      font-size: 5.0rem;
  }
  
p{
    color: @text-color;
    font-size: @text-size;
    border:2px solid red;
    line-height: 2;
}

button{
    .btn-style();
}
  

//////////TEAM PAGE STYLING HERE ////////


