.layout(@justify, @align){
    display:flex;
    justify-content: @justify;
    align-content: @align;

}  //main body layout display

.text(@justify, @align){
    display:flex;
    justify-content: @justify;
    align-content: @align;

}