.layout(@justify, @align){
    display:flex;
    justify-content: @justify;
    align-content: @align;

}  //main body layout display

.text(@justify, @align){
    display:flex;
    justify-content: @justify;
    align-content: @align;

} //layout display for text in divs

.img-style(){
    border-radius: 20%;
    width: 50%;
    margin: 0 auto;


}