nav{

    width:80%;
    display:inline-block;
    font-size: 2.0rem;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding:3%;

    @media @mobile{
        font-size:1.5rem;
        width: 100%;
        height: 25px;
        float: right;
        padding:3%;

    }//nav mobile query end
    
    a{
        
        margin-left:7%;
        margin-right:7%;
        font-family:'Vibes', cursive;
        text-decoration-line: none;
        

        @media @mobile{
            width:100%;
            margin-left:3%;
            margin-right:0;
            
            
            
        }//nav mobile links end

    }//nav links end

} //nav div end

.team-nav{
    
    width:80%;
    display:inline-block;
    font-size: 2.0rem;
    text-decoration: none;
    height: 60px;
    text-align: center;
    
    
    

    @media @mobile{
        font-size:2.0rem;
        width: 100%;
        margin-bottom:0;
        height:40px;
        
        

        a{
            width:100%;
            margin-left:3%;
            margin-right:3%;
            margin-bottom:0;
        }
    }//nav mobile query end
} //nav on team page end