

body{
    border:2px solid blue;
    
}

.team-head{
    width:100%;
    background-color: rgb(235, 234, 234);
} //head end

.logo{
   // border:2px solid black;
   // border-radius: 30%;
   // float:right;
   // width:8%;
   // margin-right:5%;
   border-radius: 30%;
    float:right;
    width:8%;
    margin-right:5%;

    @media @mobile{
        width:20%;

    } //logo mobile query end

}//logo div end



.header{
    //border:3px solid blue;
    display:inline-block;
    text-align: center;
    margin:2%;

    @media @mobile{
        border:2px solid green;
        width:100%;
        margin:0;

    }//header mobile query end
} //header end


.jasmine{
    .layout(space-evenly, center);
    flex-direction: column;
    .team-layout();

  

    @media @mobile{
        width:100%;


    } //jasmine mobile query end

    .jasmine-content{

        .team-content();

        h2{
            border:2px solid green;
        }
    
        h3{
            border:2px solid purple;
            margin:5%;
        }
    
        p{
            border:2px solid red;
            margin:3%;
        }
    
        button{
            border:2px solid blue;
            margin-bottom:3%;
        }
    
    
    
    .jasmine-img{
        width:40%;
        border-radius:50%;
        height: 250px;

    } //jasmine img end

} //jasmine content end
    
} //jasmine div end

.bao{
    .layout(space-between, center);
    flex-direction: column;
    .team-layout();

    @media @mobile{
        width:100%;


    } //bao mobile query end

    .bao-content{

        .team-content();

        h2{
            border:2px solid green;
        }
    
        h3{
            border:2px solid purple;
            margin:5%;
        }
    
        p{
            border:2px solid red;
            margin:3%;
        }
    
        button{
            border:2px solid blue;
            margin-bottom:3%;
        }
    
    
    .bao-img{
        .team-img();
 }//bao img end

} //bao content end

} //bao div end

.heather{
    .layout(space-evenly, center);
    flex-direction: column;
    .team-layout();

    @media @mobile{
        width:100%;


    } //heather mobile query end

    .heather-content{

        .team-content();

        h2{
            border:2px solid green;
        }
    
        h3{
            border:2px solid purple;
            margin:5%;
        }
    
        p{
            border:2px solid red;
            margin:3%;
        }
    
        button{
            border:2px solid blue;
            margin-bottom:3%;
        }
    

    .heather-img{

    .team-img();
    } //heather img end
} //heather content end
} //heather div end

.kerri-ann{
    .layout(space-evenly, center);
    flex-direction: column;
    .team-layout();

    @media @mobile{
        width:100%;


    } //kerri-ann mobile query end


    .kerri-ann-content{
        .team-content();

        h2{
            border:2px solid green;
        }
    
        h3{
            border:2px solid purple;
            margin:5%;
        }
    
        p{
            border:2px solid red;
            margin:3%;
        }
    
        button{
            border:2px solid blue;
            margin-bottom:3%;
        }
    


    .kerri-ann-img{
    width: 48%;
    } //kerri-ann img end
}//kerri-ann content end
} //keri-ann div end

.brian{
    
    .layout(space-evenly, center);
    flex-direction: column;
    .team-layout();

    @media @mobile{
        width:100%;


    } //brian mobile query end

    .brian-content{
        .team-content();

        h2{
            border:2px solid green;
        }
    
        h3{
            border:2px solid purple;
            margin:5%;
        }
    
        p{
            border:2px solid red;
            margin:3%;
        }
    
        button{
            border:2px solid blue;
            margin-bottom:3%;
        }
    


    .brian-img{
        
    .team-img();
    } //brian img end
} //brian content end
} //brian div end

.team-foot{
    width:100%;
   // border:2px solid black;
}


.team-content {


    h2{
        margin:5%;
    }
    
p {
    color: @team-color;
    font-size: @team-size;
}
button{
    border:2px solid black;
} //team content button end
}//team content end


.team-foot{
    width:100%;
    background-color: rgb(235, 234, 234);
}//team foot end